.privacy_policy > h1,
.privacy_policy >h2,
.privacy_policy >h3,
.privacy_policy >h4 {
  margin-top: 20px;
}
.privacy_policy >h1 {
  font-size: 36px;
}
.privacy_policy >h2 {
  font-size: 24px;
}
.privacy_policy >h3 {
  font-size: 20px;
}
.privacy_policy >h4 {
  font-size: 18px;
}
.privacy_policy >p {
  margin: 10px 0;
}
.privacy_policy >ul,
.privacy_policy >ol {
  margin: 10px 0;
  padding-left: 20px;
}
